.root {

  li {
    display: inline-block;
    transition: all .3s;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: #000000!important;
      transition: all .3s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: rgba(0, 0, 0, 0.1);;
        color: #fff;
      }
    }
  }
}

.inner{
  padding: 20px 0;
}